node_modules
logs
*.log
build
dist
docs
test
*.env
*.env.example
*.env.development
*.env.production
.babelrc
.editorconfig
.eslintrc
.eslintignore
.gitignore
.prettierrc
.prettierignore
.travis.yml
docker-compose.yml
dockerfile
LICENSE
nodemon.json
.nvmrc
