<footer>
  <p>
    <small>
      Sistema GeD - Homologação
      <br />
      E-mail: <a href='mailto:projetoged.homologacao@gmail.com?subject={{ subject_mail }}'>projetoged.homologacao@gmail.com</a>
      <br />
      Fone: (14) 1234-5647
    </small>
  </p>
</footer>
